.container-departmentroutes,
.container-productroutes,
.container-actionroutes {

    ul {
        margin-left: $spacing_lg+$spacing_lg;

        li {
            font-style: italic;
            list-style-type: none;
            
        }

        li:not(:last-child) {
            margin-bottom: $spacing_lg;
        }
    }

    pre.route-samplerequest {
        margin-top: $spacing_sm;
        overflow: auto;
    }

    p, pre.route-samplerequest {
        width: 100%;
        font-weight: 800;
        font-style: normal;
        border-radius: 15px;
        padding: $spacing_md;
        background-color: $color_tertiary;
        color: $color_font;
    }

}

@media screen and (max-width: 375px) { // MOBILE
    .container-departmentroutes,
    .container-productroutes,
    .container-actionroutes {

        ul {
            li {
                p {
                    overflow: auto;

                    span.method {
                        margin-bottom: $spacing_sm;
                        display: block;
                        width: 47px;
                    }

                    span.response {
                        display: none;
                    }
                }
            }
        }
    }
}