.container-basicusage {
    
    pre {
        min-height: 100px;
        border-radius: 15px;
        background-color: $color_tertiary;
        display: flex;
        align-items: center;
        font-weight: 800;
        margin-top: $spacing_md;
        padding-top: $spacing_md;
        overflow: auto;
    }
}